<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<h1>Login below</h1>
<div>
    Username: <input type="text" th:field="${user.username}"/>
</div>
<div>
    Password: <input type="password" th:field="${user.password}">
</div>
<div>
    <button type="button" id="submitBtn">Submit</button>
</div>
<script type="text/javascript" src="/js/login.js">
    // var submitBtn = document.querySelector("#submitBtn")
    // // var usernameTextBox = document.querySelector("#username")
    //
    // submitBtn.addEventListener('click', () => {
    //     var username = document.querySelector("#username")
    //     var password = document.querySelector("#password")
    //
    //     if (username.value == '' || password.value == '') {
    //         alert("Please enter a username and a password.")
    //     } else {
    //         console.log(`Inputs present, able to submit.`)
    //     }
    // })

    // usernameTextBox.addEventListener('focus', () =>
    //     console.log("The usernameTextBox has focus."))
    //
    // submitBtn.addEventListener('click', submitBtnClick)
    // submitBtn.addEventListener('mouseover', function (){
    //     alert(`Hey, I've been run over!`)
    // })
    //
    // function submitBtnClick (){
    //     alert(`Hey, I've been clicked!`)
    // }
</script>
</body>
</html>