<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Create Account</title>
</head>
<body>

<h1>Create Your Account</h1>

<form action="" method="post">
    <div>
        <label>Username: </label>
        <input type="text" th:field="${user.username}"/>
    </div>
    <div>
        <label>Password: </label>
        <input type="password" th:field="${user.password}"/>
    </div>
    <div>
        <label>Confirm password: </label>
        <input type="password" id="confirmPassword"/>
    </div>
    <button>Create Account</button>
    <!--    <input type="submit" value="Submit"/>-->

</form>
    <script type="text/javascript" src="/js/register.js"></script>
</body>
</html>