<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
    <h1>Users</h1>
    <div th:if="${#lists.size(users) == 1}">
        <form action="" method="post">
            <div>
                <label>Username: </label>
                <input type="text" th:field="${user.username}"/>
            </div>
            <div>
                <label>Name: </label>
                <input type="text" th:field="${user.name}"/>
            </div>
            <div>
                <label>Password: </label>
                <input type="password" th:field="${user.password}"/>
            </div>
            <input type="submit" value="Update"/>
        </form>
        <form th:action="@{/users/{userId}/delete(userId=${user.userId})}" method="post">
            <input type="submit" value="Delete User">
        </form>
    </div>
    <div th:unless="${#lists.size(users) == 1}" th:each="user : ${users}">
        <span th:text="${user.userId}"></span>
        <span th:text="${user.username}"></span>
        <span th:text="${user.name}"></span>
        <span th:text="${user.password}"></span>
        <hr/>
    </div>
</body>
</html>